:root {
  --menu-width: 250px;
  --menu-background: #3282b8;
  --menu-text-color: #fff;
  --content-text-color: #000;
  --header-text-color: #3282b8;
  --spacing: 2rem;
  --footer-background: #333;
  --footer-text-color: #fff;
  --linkedin-link-color: rgb(0, 52, 221);
}

html {
  font-size: 20px;
}

* {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: var(--menu-width) 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "header main"
    "header footer";
  height: 100vh;
}

header {
  grid-area: header;
  background-color: var(--menu-background);
  color: var(--menu-text-color);
  padding-left: var(--spacing);
}
nav {
  margin-block: var(--spacing);
  
}
nav .header-links {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) / 2);
}
nav .header-links a {
  color: var(--menu-text-color);
  text-decoration: overline;
  cursor: pointer;
  width: fit-content;
}
main {
  grid-area: main;
  padding: var(--spacing);
  color: var(--content-text-color);
}

footer {
  grid-area: footer;
  background-color: var(--footer-background);
  color: var(--footer-text-color);
  text-align: center;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 20px;
  text-align: center;
  color: var(--content-text-color);
}
.modal-content p a {
  color: var(--linkedin-link-color);
  text-decoration: none;
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
@media (max-width: 768px) {
  body {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav .header-links {
    display: flex;
    flex-direction: row;
  }
}
